* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #434649;
    cursor: none;
}
.projecttechne {
    font-family: Bhiure;
}

:root {
    --pink: hsl(338, 70%, 55%);
    --teal: hsl(183, 70%, 62%);
    --white: hsl(334, 7%, 95%);
}

.animated-img {
    background: #434649;
    min-block-size: 5dvh;
    padding-top: 100px;
    display: grid;
    place-items: center;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
}

pre {
    --token: var(--pink);
    --string: var(--teal);
    --punctuation: var(--white);

    font-size: 3rem;
    font-weight: bold;
    background:hsl(222, 45%, 7%);
    padding: 2rem;
    border-radius: 1rem;

    position: relative;

    transform-style: preserve-3d;
    transform: 
    perspective(5000px)
    rotateY(var(--rotateY))
    rotatex(var(--rotateX));
}

.token {
    color: var(--token)
}

.string {
    color: var(--string)
}

.punctuation {
    color: var(--punctuation)
}

pre > * {
    text-shadow: 0 0 0.3em currentColor;
  }

pre::before,
pre::after {
content: "";
position: absolute;
border-radius: inherit;
}
pre::before {
    inset: 0.75rem;
    background: black;
    transform: translateZ(-49px);
    filter: blur(15px);
    opacity: 0.5;
}
pre::after {
    inset: -1rem;
    background: 
        linear-gradient(-45deg, red, blue);
    transform: translateZ(-50px);
}

.header-intro {
    background: #434649;
    color: #cbf3f0;
    height: 10vh;
    padding-top: 10px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    padding-right: 20px;
    cursor: none;
}
.wrapper {
    background: #434649;
    height: 50vh;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 32px 0;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
}

@keyframes fade-down {

	30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul li a {
    color: #cbf3f0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 8px;
    background: #5958c5;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 500ms;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    cursor: none;
}

.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px dashed #ffffff;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 1000ms, height 1000ms;
    animation: rotate 2s linear infinite;
}

@keyframes rotate
{
    from
    {
    transform: translate(-50%,-50%) rotate(360deg);
    }
    to
    {
    transform: translate(-50%,-50%) rotate(-360deg);
    }
}
.cursor.click {
    mix-blend-mode: difference;
}
.cursor.large {
    height: 60px;
    width: 60px;
    border: 10px dashed #878787;
    animation: rotate 2s linear infinite;
}

@keyframes rotate
{
    from
    {
    transform: translate(-50%,-50%) rotate(360deg);
    }
    to
    {
    transform: translate(-50%,-50%) rotate(-360deg);
    }
}
.rights {
    background: transparent;
    padding-top: 75px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: aliceblue;
}

@font-face {
    font-family: Bhiure;
    src: url("Bhiure.otf") format("opentype");
}

.animate-charcter
{
  padding-top: -100px;
  background-image: linear-gradient(
    -225deg,
    #ff7272 0%,
    #ffad72 10%,
    #c9ff72 20%,
    #88ff70 29%,
    #77dfff 67%,
    #7289ff 77%,
    #d272ff 87%,
    #ff7272 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.title {
    padding-top: 70px;
    text-align: center;
    vertical-align: middle;
    left: 0;
    bottom: 0;
    width: 100%;
}

.subtitle {
    text-align: center;
    font-size: 48px;
    vertical-align: middle;
    left: 0;
    bottom: 0;
    width: 100%;
}

.superscript {
    font-size: 20px;
}
